
header {height: 320px;}

header, section, footer, aside, nav, article, figure, figcaption,hgroup {
 display: block;

}

aside h2{
	margin: 20px;
	text-align: center;
}

#fondotitulos{
	background-image: url(../imagenes/4.png);
	border-color: black;
    border-width: 2px 10px 5px;
    border-style: solid groove solid;
    color: white;

}

div #fondotitulos1 {
	background-image: url(../imagenes/4.png);
	border-color: black;
    border-width: 2px 10px 5px;
    border-style: solid groove solid;
    color: white;
}

html{
background-image: url(../imagenes/patron3.png);

}

body{
	text-align: center;
	
}
#contenedor {

	width:1200px;
	margin: 30px auto;
	text-align:left;
/*background: linear-gradient(top, #FFFFFF 50%, #006699 90%);*/
/*Gradiente radial */

/*la posición de comienzo es el origen y puede ser declarada en pixeles, porcentaje
o una combinación de palabras clave cemter, top, bottom, left y right
finalmente color y posición para el inicio y final  */
background-image: url(../imagenes/patron2.png);
}



#cabecera {
background-image: url("../imagenes/castillo.png");
background-position: center;
border: 3px solid #999999;
padding: 20px;

}

td p{
 border: 10px solid rgba(0, 0, 0, 0.3);
 border-radius: 13px 13px 13px 13px;
	-moz-border-radius: 13px 13px 13px 13px;
	-webkit-border-radius: 13px 13px 13px 13px;
	border: 0px solid #000000;
	background-color: grey;
	padding: 10px 10px;
}
aside th, td {	
	text-align:center;
	padding: 10px 15px;
	font-size: 30px;
	text-shadow: black 3px 3px 5px;
	color: white;
	font-family: "Times New Roman", Times, serif;
	border-color: black;
    border-width: 2px 10px 5px;
    border-style: solid groove solid;
}


#columna{

	float: left;
	/*con fondo se ve el lateral pero 
	como no llega al final le pongo altura de 500
	personalmente creo que sin color de fondo mejor*/
	background:#CCCCCC;
	border-radius: 13px 13px 13px 13px;
	-moz-border-radius: 13px 13px 13px 13px;
	-webkit-border-radius: 13px 13px 13px 13px;
	border: 0px solid #000000;
	background-color: #A9A9A9;
 
}
aside p{
	margin: 20px;
}
aside h1{
	text-align: center;
}
aside h2{
	margin: 20px;
}
#pie{
	background-image: url(../imagenes/4.png);
	clear:both;
	text-align:center;
	padding: 20px;
	border-top:2px solid #999999;
}

footer td {
 border-style: none;
 }

hgroup {

/* genera sombra en el texto.
el color, distancia horizontal y vertical y el radio de difuminación  */
	text-shadow: black 3px 3px 5px;
	color: white;
	font-size: 160%;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
	
}


#cabecera figure img{display:block; margin-right:0px;}
/*aplico mismas propiedades que en principal, menos text align que no le sirve a la imagen*/


figure img{

/*porque es en linea*/
display:block;
margin: 0 auto; /*la centro como una tabla que ahora sí es un elemento en bloque*/
padding:15px;

}

th a{
	color: white;
}
footer a{
	color: white;
	text-decoration: none;
}
footer td img{
	border-radius: 13px 13px 13px 13px;
	-moz-border-radius: 13px 13px 13px 13px;
	-webkit-border-radius: 13px 13px 13px 13px;
	border: 0px solid #000000;
	background-color: #A9A9A9;
 }


 aside h2{
	border-color: black;
    border-width: 2px 10px 5px;
    border-style: solid groove solid;
 
 }
 aside p{
	background-color:silver;
 }
